build-*-Desktop-Debug/
build-*-Desktop-Release/
build-*-Desktop-Profile/
systray
lima-gui
systray.pro.user
# qmake
.qmake.stash
Makefile
moc_predefs.h
moc_*.cpp
qrc_*.cpp
*_plugin_resources.cpp
*.o
lib*.so
lib*.a
lima-gui.app
